*{
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
  gap: 20px;
  background-color: #eee;
}
.container{
  display: flex;
  border:3px solid black;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;

}
.container div{
  border:1px solid gray;
  
}
.slider_container{
  display: flex;
  gap: 30px;
}
.slider_container div{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.buttons{
  display: flex;
  gap: 25px;

}
button{
  padding: 4px 8px;
}