*{
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  height: 95vh;
  flex-direction: column;
  gap: 20px;
  background-color: #eee;
  font-family: monospace;
  font-size: 16px;
  margin-top: 35px;
  
}
.container{
  display: flex;
  border:3px solid black;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  
}
.container div{
  border:1px solid gray;
  
}
.slider_container{
  display: flex;
  gap: 30px;
}

.buttons{
  display: flex;
  gap: 25px;

}
button{
  padding: 4px 8px;
  font-family: monospace;
}
.footer{
  display: flex;
  font-size: 16px;
  margin-top: auto;
}
